@tailwind base;
@tailwind components;
@tailwind utilities;


.full-body{
    background-color: rgba(18, 18, 18, 1);
}
.input-section{
    background-color: rgba(25, 25, 25, 1);
}
.input-css{
    background-color: rgba(25, 25, 25, 1);
    outline: none;
    
}
.input-css::placeholder{
    color: rgba(49, 49, 49, 1);
}
.filter-button{
    background-color: #191919;
}
.filter-button:hover, .search-button:hover {
    background-color: rgba(49, 49, 49, 1);
}
.search-button{
    background-color: rgba(35, 35, 35, 1);
}
